<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Search Books | Novelist</title>
</head>
<body>
    <section class="container">
        <div th:insert="components/book-search :: search-panel"></div>
        <!-- "https://openlibrary.org/search.json?q=" -->
        <h5 class="card-title display-3" th:text="${searchResults.size}">Number</h5>

        <div class="card-group">
            <div class="card" style="flex: 0 0 20%; margin: 20px;" th:each="result: ${searchResults}">
                <img th:src="${result.cover_i}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title" th:text="${result.title}">Card title</h5>
                <a href="#" th:href="@{'/books/' + ${result.key}}" class="btn btn-primary">View Book</a>
                </div>
            </div>
        </div>

    </section>
    
</body>
</html>